PORT=5004
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/primehealth_payment
LOG_LEVEL=debug
CORS_ORIGIN=*
APPOINTMENT_SERVICE_URL=http://localhost:5003

# PayHere Sandbox Credentials (https://sandbox.payhere.lk/)
PAYHERE_MERCHANT_ID=1221190
PAYHERE_SECRET=YOUR_PAYHERE_SECRET_HERE
