PORT=5003
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/primehealth_appointment
LOG_LEVEL=debug
CORS_ORIGIN=*
DOCTOR_SERVICE_URL=http://localhost:5002
PAYMENT_SERVICE_URL=http://localhost:5004
